.headerGradient {
  background: linear-gradient(to right, #1e293b, #4f46e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chartContainer {
  height: 300px;
}
